@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  /* font dari Inter (next/font) */
  --font-sans: var(--font-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}
